@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

*{
    font-family: "Playwrite NZ Basic", cursive;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 18s linear infinite;
  }
}
